<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="login-body">

    <h1 class="titulo-fondo">¡Bienvenido a ReUseIt!</h1>
    <main class="main-login">
        {% block content %}

        <form action="{{ url_for('reg') }}" method="post" class="login">
            <h2>Registrarse</h2>

            <label for="email">Email</label>
            <input class="form__input" type="email" name="email" id="email" placeholder="Introduzca su e-mail" required>

            <label for="password">Contraseña</label>
            <input class="form__input" type="password" name="password" id="password"
                placeholder="Introduzca su contraseña" required>

            <button class="form__button">Crear una cuenta</button>

            <div class="login-link">
                ¿Ya tienes una cuenta?
                <a href="/"> Iniciar sesión</a>
            </div>

        </form>

        {% endblock %}
    </main>
</body>

</html>